.listGroup > div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 1%;
	height: 88px;
	background: #ffffff 0% 0% no-repeat padding-box;
}
.listGroup > div:hover {
	box-shadow: 0px 0px 5px #00000033;
	border-radius: 4px;
	cursor: pointer;
}

.defaultLabel {
	text-align: left;
	font: normal normal normal 14px/16px PT Sans;
	letter-spacing: 0px;
	color: #555555;
}

.thumbImg {
	max-width: 25%;
	max-width: 48px;
	max-height: 48px;
}

.list {
	list-style: none;
	top: 298px;
	left: 494px;
	width: 296px;
	height: 49px;
	text-align: left;
	font: normal normal normal 14px/16px PT Sans;
	letter-spacing: 0px;
	color: #555555;
	opacity: 1;
	display: contents;
}

.listImgDiv {
	height: 100%;
	display: flex;
	align-items: center;
}

.showList {
	display: block;
}

.hideList {
	display: none !important;
}

.informationItem {
	text-transform: capitalize;
	text-align: left;
	font: normal normal normal 14px/16px PT Sans;
	letter-spacing: 0px;
	color: #555555;
	opacity: 1;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
